<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" android:installLocation="auto" package="Convert_It.Convert_It">
	<application android:label="Convert_It" android:debuggable="true" android:icon="@drawable/icon"></application>
	<uses-sdk />
</manifest>